---
---

@import "{{ site.theme }}";
body {
    font-family: Georgia, serif;
    font-size: var(--body-font-size, 16px);
    line-height: 1.5;
    color: #FFFFF;
    background-color: linear-gradient(180deg, #FDFFF5, #FFFCF5, #FFF7F5, #FFF5F8;
      }
